{% extends "page_template.html" %} {% block content %}
    <h2>About Me</h2>
    <section>
        <h3>Personal Life</h3>
        <p>Tammy married her husband Andy in Canada in 2007 and moved to Wales where he is from. They have two children,
            Shannon and James, and a Jack Russell terrier named Falkor.</p>
    </section>

    <section>
        <h2>Career and Education</h2>
        <p>She worked in various retail and customer service roles until finally doing an undergraduate degree at
            Cardiff University at the age of 41 in English Literature.</p>
        <p>Now, at 51, she is studying for her MSc in Computing and IT Management at Cardiff after working in the
            technology industry as a software test engineer, mentor, coach, and Scrum Master before facing redundancy at
            the end of 2023.</p>
    </section>

    <section>
        <h2>Interests and Achievements</h2>
        <p>She loves gaming in both tabletop and digital formats, as well as reading and writing fantasy. She has
            written six novels, although none are published. Recently, she had the privilege of being mentored by
            award-winning fantasy author Mark Lawrence and hopes to be published in 2025.</p>
    </section>

    <section>
        <h2>Recent Experiences</h2>
        <p>This summer she went back to Canada for the first time in eighteen years. While it was nice to see the people
            and places she missed, it quickly became apparent that her home is now Wales, where she longs to be.</p>
    </section>

    <section>
        <h2>Future Goals</h2>
        <p>When she finishes her studies, she hopes to return to the tech industry with renewed vigour and new technical
            and management skills. Her goal is to gain an understanding of the changing industry and generative AI,
            helping her secure fulfilling roles with establishments that will see her through to retirement.</p>
    </section>


{% endblock %}
