{% extends "page_template.html" %}
{% block content %}
	<h2>About Me</h2>

	<section class="card mb-4 my-2">
		<div class="card-header">
			<h3>Present Day</h3>
		</div>
		<div class="card-body">
			<p>
				I am currently studying an MSc in Computing at IT Management at Cardiff University (2024/25), increasing
				my
				development skillset, generative AI usage and product/project management skills.
			</p>
		</div>
	</section>

	<section class="card mb-4">
		<div class="card-header">
			<h3>Career History</h3>
		</div>
		<div class="card-body">
			<p>
				My journey into the technology industry began quite a long time ago, however, only in 2018 did I truly
				begin
				to find my way. Initially, in 2004, I was volunteering as in-game customer service and tester for a
				popular
				MMORPG, which sparked my interest in testing. In 2007, I was the director, administrator and tester for
				a
				small software house, with very big clients such as the European Space Agency. I took some time off in
				2009
				following the birth of my son and after a few awful jobs in call centres, I decided to return to
				education,
				gaining my BA in English Literature from Cardiff University in 2017. Following graduation, I joined
				Deloitte
				as an engagement support officer for large audits and the Agile Transformation team, which lead me to
				being
				trained, qualified and practicing as a Scrum Master...
			</p>
			<p>
				My journey began in QA, where I honed my skills in ensuring the highest standards of product
				functionality
				and reliability. Working across diverse projects, I developed a proactive approach to quality assurance,
				identifying and resolving issues early in the development cycle to enhance product excellence and
				customer
				satisfaction. Transitioning into a Scrum Master role allowed me to broaden my impact, fostering
				collaboration, facilitating Agile practices, and empowering teams to achieve their best...
			</p>
			<p>
				I am a strong advocate for Diversity, Equity, and Inclusion, I believe that fostering a supportive and
				inclusive culture is key to achieving outstanding results. I believe that my unique blend of technical
				expertise, Agile leadership, and quality assurance positions me to make a meaningful impact in any
				project
				or organisation.
			</p>
		</div>
	</section>

	<section class="card mb-4">
		<div class="card-header">
			<h3>Interests and Achievements</h3>
		</div>
		<div class="card-body">
			<p>
				I love gaming in both tabletop and digital formats, as well as reading and writing fantasy. I have
				written
				six novels, although none are published yet. Recently, I had the privilege of being mentored by
				award-winning
				fantasy author Mark Lawrence and aim to be published in 2025.
			</p>
		</div>
	</section>

	<section class="card mb-4">
		<div class="card-header">
			<h3>Personal Life</h3>
		</div>
		<div class="card-body">
			<p>
				I was born and raised in Toronto, Canada, and moved to Wales in 2007.
			</p>
		</div>
	</section>
{% endblock %}
