{% extends "page_template.html" %} {% block content %}
    <h2>About Me</h2>
    <section class="my-4">
        <h3>Personal Life</h3>
        <p>I was born and raised in Toronto, Canada, and moved to Wales after marrying my husband, Andy in 2007. We have
            two children, Shannon and James, and a Jack Russell Terrier named Falkor.</p>
    </section>

    <section>
        <h3>Career</h3>
        <p>My journey into the technology industry began quite a long time ago, however, only in 2018 did I truly begin
            to find my way. Initially, in 2004, I was volunteering as in game customer service and tester for a popular
            MMORPG, which sparked my interest in testing. In 2007, I was the director, administrator and tester for a
            small software house, with very big clients such as the European Space Agency. I took some time off in 2009
            following the birth of my son and after a few awful jobs in call centres, I decided to return to education,
            gaining my BA in English Literature from Cardiff University in 2017. Following graduation, I joined Deloitte
            as an engagement support officer for large audits and the Agile Transformation team, which lead me to being
            trained, qualified and practicing as a Scrum Master. When the transformation pilot ended and I had to go
            back to being an administrator, it was too late for me. I wanted to be a Scrum Master, and the only way to
            ensure that was to get back into tech. In 2019, I landed a junior tester role, as it was clear the Scrum
            Master roles all required some knowledge of working in a development team. I worked as a tester for nearly
            four years and when a Scrum Master role came up at Creditsafe, where I was working as a test engineer, I was
            able to successfully secure the role and was soon blending a deep understanding of software quality with a
            passion for Agile leadership. </p>
        <p>My journey began in QA, where I honed my skills in ensuring the highest standards of product functionality
            and reliability. Working across diverse projects, I developed a proactive approach to quality assurance,
            identifying and resolving issues early in the development cycle to enhance product excellence and customer
            satisfaction. Transitioning into a Scrum Master role allowed me to broaden my impact, fostering
            collaboration, facilitating Agile practices, and empowering teams to achieve their best. My background in QA
            gives me a unique perspective on the software development lifecycle, enabling me to guide teams in
            delivering high-value outcomes while maintaining a strong focus on quality. Whether facilitating Agile
            ceremonies, mentoring team members, or driving continuous improvement, I am committed to creating
            environments where teams thrive and stakeholders’ expectations are exceeded.</p>
        <p>I am a strong advocate for Diversity, Equity, and Inclusion, I believe that fostering a supportive and
            inclusive culture is key to achieving outstanding results. I believe that my unique blend of technical
            expertise, Agile leadership, and quality assurance positions me to make a meaningful impact in any project
            or organisation. </p>
    </section>

    <section>
        <h3>Interests and Achievements</h3>
        <p>I love gaming in both tabletop and digital formats, as well as reading and writing fantasy. I have
            written six novels, although none are published yet. Recently, I had the privilege of being mentored by
            award-winning fantasy author Mark Lawrence and aim to be published in 2025.</p>
    </section>


    <section>
        <h3>Future Goals</h3>
        <p>I am currently studying an MSc in Computing at IT Management at Cardiff University (2024/25), increasing my
            development skillset, generative AI usage and product/project management skills. </p>
    </section>


{% endblock %}
