{% extends "layout.html" %} {% block content %}
<main class="container my-5">
  <section>
    <h2 class="text-center mb-4">Login</h2>
    <form class="needs-validation" novalidate method="post">
      {{ form.hidden_tag() }}

      <!-- Email Field -->
      <div class="mb-3">
        {{ form.email.label(class="form-label") }} {{
        form.email(class="form-control", size=32) }}
        <div class="invalid-feedback">Please enter a valid email address.</div>
      </div>

      <!-- Password Field -->
      <div class="mb-3">
        {{ form.password.label(class="form-label") }} {{
        form.password(class="form-control", size=32) }}
        <div class="invalid-feedback">Please enter your password.</div>
      </div>

      <!-- Submit Button -->
      <div class="text-center">{{ form.submit(class="btn btn-primary") }}</div>
    </form>
  </section>
</main>
{% endblock %}
