{% extends "layout.html" %}
{% block content %}
<h1>{{ 'Edit Post' if edit else 'Create New Post' }}</h1>
<form method="POST" action="{{ url_for('edit_post', post_id=post.id) if edit else url_for('new_post') }}">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(size=50) }}
    </p>
    <p>
        {{ form.content.label }}<br>
        {{ form.content(rows=10, cols=50) }}
    </p>
    <p>
        {{ form.author.label }}<br>
        {{ form.author(size=20) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
